*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container-nav{
    height: 100px;
    background: linear-gradient(to left , rgb(165, 114, 48) 1%, rgb(45, 49, 94)90%);
}


.navbar-side li{
    width: 100px;
    height: 35px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    margin: 10px;
}

.navbar-side a{
    color: rgb(255, 255, 255) ;
}
.navbar-side a:hover{
    color: orange;
    text-shadow: 1px 1px 20px orange;
}
.navbar-side li:hover{
    border-radius: 0px 20px 0px 20px;
    transition: .4s ease;

}

.slider-header{
    width: 100%;
    height: 600px;
    background-image:url('../img/buildjpg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.slider-header h1{
    padding-top: 8%;
    font-family: fantasy;
    color: white;
}

.slider-header span{
    color: orange;
    text-shadow: 1px 1px 8px orange;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-readmore{
    text-decoration: none;
    width: 170px;
    height: 40px;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 3px;
    border: 1px groove white;
    margin-top: 30px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 10px 30px 10px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.btn-readmore:hover{
    border-radius: 10px 30px 10px 30px;
    transition: .4s ease-out;
    background:linear-gradient(to left , rgb(165, 114, 48) 1%, rgb(45, 49, 94)90%);
    color: white;

}

.btn-readmore a{
    color: white;
}
.btn-readmore a:hover{
    color: white;
}
.icon-menu{
    display: none
}

.icon-close{
    display: none;
}

.section-1 h5{
color: rgb(255, 166, 0);
}

.card-section {
    text-align: center;
    margin: auto;
    width: 300px;
    height: 550px;
    box-shadow: 0px 0px 1px #333232;
    border-radius: 10px;
    padding: 10px;
    transition: .5s ease;
}

.card-section:hover{
    box-shadow: 0px 0px 7px black ;
}

.icon-drop{
  font-size: 40px;
  color: rgb(161, 157, 157);
}



.section-2 p{
  color: orangered;
}

.section-2 i{
    font-size: 60px;
    color: #707070;
}

.btn-Counseling{
    width: 150px;
    height: 34px;
    border: none;
    background-color: orangered;
    border-radius: 20px;
    color: white;
    transition: .3s ease;

}
.btn-Counseling:hover{
    background-color: rgb(255, 123, 0);
    transition: .3s ease;
}

.card-min{
    width: 250px;
    height: 250px;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    box-shadow: 0px 0px 3px ;
    padding: 10px;
    border-radius: 20px;
}
.card-min i{
    font-size: 30px;
    border-bottom: 3px solid orangered;
    padding: 5px;
    border-radius: 50%;
    

}

.card-min p{
    font-size: 16px;
}

.card-min-container{
    display: flex;
    flex-wrap: wrap;
}

.section-3 img{
    margin-top: 3rem;
    border-radius: 20px;
}



@media screen and (max-width:960px) {

    .nav-list{
        text-align: center;
        margin: auto;
        padding: 20px;
        margin: 1rem;
       
    }

    .nav-list li{
        text-align: center;
        margin-left: 30%;
    }

    .container-nav{
        width: 100%;
        height: 100vh;
        position:absolute;
        left: -100%;
        transition: .5s ease;
        z-index: 98;
    }
    .icon-menu{
        display: block;
        border-radius: 10px 50px 20px 10px;
        padding-top: 20px;
        animation: anime 2s ease;
        z-index: 99;
    }

    .icon-menu i{
        font-size: 30px;
        background-color:orange;
        padding: 5px;
        border-radius: 20px 10px 20px 10px;


    }

    .icon-close{
        display: block;
        margin-top: 20px;

    }

    .icon-close i{
        font-size: 25px;
        color: white;

    }

    

   

}

@keyframes anime {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(
            360deg
        );
    }
}




